<!-- app/views/notes/_form.html.erb -->

<div class="card border-0 bg-light p-2 text-dark bg-opacity-75" style="min-width: 10rem; max-width: 30rem">
  <div class="card-body">
    <%= simple_form_for(@note) do |f| %>
      <%= f.error_notification %>
      <br>
      <div class="form-inputs">
        <%= f.input :note_name %>
        <br>
        <%= f.input :content %>
      </div>
      <br>

      <div class="btn-container">
        <div class="form-actions">
          <%= f.button :submit, "Submit", class: "btn btn-outline-dark" %>
        </div>
        <%= link_to dashboard_path, class: "btn btn-outline-dark ml-2" do %>
          Back
        <% end %>
      </div>

    <% end %>
  </div>  
</div>
