<h1><%= @note.note_name %></h1>

<p><%= @note.content %></p>

<%= link_to 'Edit', edit_note_path(@note) %> |
<%= link_to 'Back', dashboard_path %>

<div class="card border-light mb-3 bg-success" style="min-width: 18rem;">
  <div class="card-header"><%= @note.note_name %></div>
  <div class="card-body">
    <h1 class="card-title"><%= @note.note_name %></h1>
    <p class="card-text"><%= @note.content %></p>
  </div>
    <div class="d-grid gap-2 d-md-block">
      <button class="btn btn-primary" type="button">Button</button>
      <button class="btn btn-primary" type="button">Button</button>
    </div>
  <%= link_to 'Edit', edit_note_path(@note) %> |
  <%= link_to 'Back', dashboard_path %>
  <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
  </div>
</div>
