<h2>Edit <%= resource_name.to_s.humanize %></h2>
<div class="card rounded border-0" style="width: 30rem;">
  <div class="card-body">
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= f.error_notification %>

      <div class="mb-3">
        <% f.label :email, class: "form-label" %>
        <%= f.input :email, required: true, autofocus: true, class: "form-control" %>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <p class="form-text">Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
        <% end %>
        <br>
        <% f.label :password, class: "form-label" %>
        <%= f.input :password,
                    hint: " Leave blank or change it",
                    required: false,
                    input_html: { autocomplete: "new-password" },
                    class: "form-control" %>
        <br>
        <% f.label :password_confirmation, class: "form-label" %>
        <%= f.input :password_confirmation,
                    required: false,
                    input_html: { autocomplete: "new-password" },
                    class: "form-control" %>
        <br>
        <% f.label :current_password, class: "form-label" %>
        <%= f.input :current_password,
                    hint: " Confirms changes",
                    required: true,
                    input_html: { autocomplete: "current-password" },
                    class: "form-control" %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Update", class: "btn btn-primary" %>
      </div>
    <% end %>

    <h3>Cancel my account</h3>

    <div>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete %></div>

<!-- this button should cancel account-->
        <%= link_to new_note_path do %> 
        <%= button_to "Cancel my account", registration_path(resource_name), class: "btn btn-outline-info btn-lg", data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete %>
        <% end %>

    <%= link_to 'Back', dashboard_path %>
  </div>
</div>


    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :email, required: true, autofocus: true %>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
        <% end %>

        <%= f.input :password,
                    hint: "leave it blank if you don't want to change it",
                    required: false,
                    input_html: { autocomplete: "new-password" } %>
        <%= f.input :password_confirmation,
                    required: false,
                    input_html: { autocomplete: "new-password" } %>
        <%= f.input :current_password,
                    hint: "we need your current password to confirm your changes",
                    required: true,
                    input_html: { autocomplete: "current-password" } %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Update" %>
      </div>
    <% end %>

    <h3>Cancel my account</h3>

    <div>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete %></div>

<!-- this button should cancel account-->
        <%= link_to new_note_path do %> 
        <%= button_to "Cancel my account", registration_path(resource_name), class: "btn btn-outline-info btn-lg", data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete %>
        <% end %>

    <%= link_to 'Back', dashboard_path %>
 
